.loading{
    
    a{
        height: 35px;
        line-height: 35px;
        width: 120px;
        background: black;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto 40px;
    }
}