.showbrands{
    height: 490px;
}
.img-brand{
    position: relative;
    overflow: hidden;
    width: 1150px;
    height: 175px;
    ul{
        width: 3450px;
        height: 175px;
        position: absolute;
        left: 0px;
        top:0px;
    }
    li{ 

        float: left;
        padding-right: 8px;   
    }
    .last-band{
        padding-right: 0px;
    }
    .btn-left,.btn-right{
        top: 70px;
        font-size: 20px;
        width: 35px;
    }
}

.logo-brand{
    .logo-brand-switch{
        height: 86px;
        width: 185px;
        position: relative;
        .prev{
            position: absolute;
            left: 30%;
            top:5px;
        }
        .next{
            position: absolute;
            right: 30%;
            bottom: 5px;
        }
        background: url(../images/logo-brand-line.png) no-repeat 50% ;
        font-size: 32px;
        span{
            color: #000;
            display: block;
            width: 32px;
            height: 38px;
            cursor: pointer;
        }
        
    }
    li{
        float: left;
        padding-right: 8px; 
        padding-top: 4px; 
    }
    .last-band{
        padding-right: 0px;
        
    }
    .more{
        width: 185px;
        height: 86px;
        a{
            color: #000;
            font-size: 16px;
            text-align: center;
            line-height: 86px;
            height: 86px;
            display: block;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}